body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(19, 18, 18);
}
a{
    text-decoration: none;
    color: inherit;
}

.content{
    padding: 50px;
}

div.heading{
    font-style: italic;
    text-align: center;
    color: white;
}

div.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


div.intro{
    font-size: 17px;
    color: white;
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 30px;
}

.myself{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div.navbar{
    position: fixed;
    z-index: 1;
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(19, 134, 223);
    box-shadow: 3px 3px 5px rgb(212, 211, 211);
    
    
}

div.n_item{
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    height: 40px;
    width: 20%;
}

h1{
    margin-top: 100px;
    margin-bottom: 0;
    text-align: center;
    font-size: 75px;
    font-style: italic;
    color: rgb(255, 255, 255);
}


div.work_section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

div.image{
    position: relative;
    width: 750px;
}

div.image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.747);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
    padding: auto;
}

div.image_overlay:hover{
    opacity: 1;
}

img{
    display: block;
    width: 100%;
}

div.image_title{
    font-weight: bold;
    font-size: 100px;
}

div.image_desc{
    font-size: 10px;
    text-align: justify;
}

div.skills{
    color: white;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgb(19, 134, 223);
    padding: 0px;
    height: 60px;
    overflow: hidden;
    margin-bottom: 50px;
}

div.line{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
}

div.line:first-child{
    animation: anim 12s infinite;
}

@keyframes anim {
    0%{
        margin-top: 0;
    }
    16%{
        margin-top: -60px;
    }
    33%{
        margin-top: -120px;
    }
    50%{
        margin-top: -180px;
    }
    66%{
        margin-top: -120px;
    }
    82%{
        margin-top: -60px;
    }
    100%{
        margin-top: 0;
    }
}


.projects{
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: normal;
}

ul li{
    margin-top: 20px;
}


.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(65, 62, 62);
    color: white;
    text-align: center;
}

div.icons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.icon{
    width: 20px;
}